*{
  margin: 0px;
  padding: 0px;
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  gap:20px;
}

.btn{
  display: flex;
  width: 210px;
  justify-content:center;
  gap: 20px;
  align-items: center;
  padding: 12px;
  height: 50px;
  border:none;
  border-radius: 20px;
  background: linear-gradient(to bottom, #ffecd2, #fcb69f); /* Vertical gradient */
  color:#17325a;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background: linear-gradient(to bottom, #dbf3b2, #a8e063); /* Hover gradient */
  color: #17325a;
  transform: scale(1.05);
}

.edit{
  width: 1.5rem;
}

.notes{
  width: 3.5rem;
}

.main-text{
  display: flex;
  gap:1rem;
}

h1{
  font-size: 2.3rem;
}

.input-box{
  position: relative;
  align-self:center;
  width:500px;
  background-color: #fff;
  color:#333;
  max-width:500px;
  min-height: 150px;
  padding: 20px;
  margin: 20px 0;
  margin-left: 20px; /* Shift rightward */
  outline: none;
  border-radius: 5px;
}

p img{
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 25px;
  cursor: pointer;
}
